body {
    background-color: rgb(194, 194, 194);
    margin: 0;
}
div {
    box-sizing: border-box;
}
header {
    background-color: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}
div.post {
    background-color: white;
    margin-top: 10px;
}
div.post img {
    width: 100%;
}
div.post .post-header div:first-child {
    display: inline-block;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}
div.post h2, div.post p {
    padding: 1px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}
.fa-solid {
    font-size: 30px;
}
.fa-regular {
    font-size: 30px;
}
.fa-bookmark {
    margin-left: 430px;
}
.fa-heart {
    margin-left: 20px;
}
.fa-brands {
    font-size: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.fa-instagram{
    position: relative;
    top: -10px;
}
.uno {
    font-size: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.dos {
    display: inline-block;
}
.tres {
    margin-top: 20px;
}
.cuatro {
    margin-top: 10px;
}
.cinco {
    margin-top: 10px;
}
.post-header {
    margin-bottom: 10px;
}